<div class="row">
    <div class="col-1"> </div>
    <div class="col-10"> 
        <h1>Demo: Trabajando con servicios Rest</h1>
        <hr />
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Empresa</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers">
                    <td>{{customer.customerID}}</td>
                    <td>{{customer.companyName}}</td>
                    <td>
                        {{customer.address}}
                        <br />
                        <small>{{customer.postalCode}} {{customer.city}}</small>
                        <br />
                        <small>{{customer.country}}</small>
                    </td>
                    <td>{{customer.phone}}</td>
                    <td>
                        <a class="btn btn-sm btn-success" [routerLink]="['/customers', customer.customerID]">ver ficha</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <button class="btn btn-success" (click)="getClientes()">Cargar Clientes</button>
    </div>
    <div class="col-1"> </div>
</div>
