<div class="row">
    <div class="col-1"> </div>
    <div class="col">
        <h1>Demo: Componente Maestro-Detalle</h1>
        <hr />
        <br />
        <div class="row">
            <div class="col-6">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr class="clickuser">
                            <th (click)="onSortColumn('id')" class="clickuser">ID</th>
                            <th (click)="onSortColumn('firstname')" class="clickuser">Nombre</th>
                            <th (click)="onSortColumn('office')" class="clickuser">Ciudad</th>
                            <th (click)="onSortColumn('online')" class="clickuser">Online</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                        Otra forma de hacerlo sin usar un método: 
                        <tr *ngFor="let user of usersList" (click)="selectUser = user"> 
                        -->
                        <tr *ngFor="let user of usersList | sort : columOrder : typeOrder" 
                            (click)="onSelectUser(user)" class="clickuser">
                            <td>{{user.id}}</td>
                            <td>{{user.firstname}} {{user.lastname}}</td>
                            <td>{{user.office}}</td>
                            <td><span class="badge bg-success">{{user.online | siono : 'On' : 'Off'}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p><b>Usuario seleccionado:</b> {{selectUser.firstname}} {{selectUser.lastname | uppercase}}</p>
                <p><b>Fecha actual:</b> {{fecha | date: 'fullDate'}}</p>
                <p><b>Fecha actual:</b> {{fecha | date: 'EEEE, dd MMMM yyyy'}}</p>
                <br />
                <p><b>Fecha actual (obsevable): {{ time | async | date : 'full' }}</b></p>
                <br />
                <p><b>Moneda:</b> {{moneda | currency: 'EUR': true: '1.2'}}</p>
                <p><b>Porcentaje:</b> {{ 0.25 | percent: '1.2'}}</p>
                <p><b>Transformación de [{{varTestData}}] mediante código:</b> {{varTestResult}}</p>
                <p><b>Transformación de [{{varTestData}}] mediante IU:</b> {{varTestData | siono : 'Ok': 'NOk'}}</p>
            </div>
            <div class="col-6">
                <app-detail *ngIf="mostrarDetalle" #detalle [usuarioHijo]="selectUser" (usuarioSave)="onUsuarioSaveEmirt($event)"></app-detail>
            </div>
        </div>
    </div> 
    <div class="col-1"> </div> 
</div>

