<div class="row">
    <div class="col-1"> </div>
    <div class="col">
        <h1>Demo: Componente Maestro-Detalle</h1>
        <hr />
        <br />
        <div class="row">
            <div class="col-6">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Ciudad</th>
                            <th>Online</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--
                        Otra forma de hacerlo sin usar un método: 
                        <tr *ngFor="let user of usersList" (click)="selectUser = user"> 
                        -->
                        <tr *ngFor="let user of usersList" (click)="onSelectUser(user)">
                            <td>{{user.id}}</td>
                            <td>{{user.firstname}} {{user.lastname}}</td>
                            <td>{{user.office}}</td>
                            <td><span class="badge bg-success">{{user.online}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p><b>Usuario seleccionado:</b> {{selectUser.firstname}} {{selectUser.lastname}}</p>
            </div>
            <div class="col-6">
                <app-detail #detalle [usuarioHijo]="selectUser" (usuarioSave)="onUsuarioSaveEmirt($event)"></app-detail>
            </div>
        </div>
    </div> 
    <div class="col-1"> </div> 
</div>

