<div class="row">
    <div class="col-1"> </div>
    <div class="col">
        <h1>Demo: Componente Maestro-Detalle</h1>
        <hr />
        <br />
        <div class="row">
            <div class="col-6">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Ciudad</th>
                            <th>Online</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Juan Pérez</td>
                            <td>Madrid</td>
                            <td><span class="badge bg-success">Sí</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <app-detail></app-detail>
            </div>
        </div>
    </div> 
    <div class="col-1"> </div> 
</div>

